<!DOCTYPE html>
<html lang="es">
    <head>
        <title> CC5002 - Tarea 4 </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/evaluaciones.css}">
    </head>
    <body>
        <div class="titulos">
            <h1> ¡Hola! Bienvenida/o a nuestro portal de adopción de perritos y gatitos</h1>
        </div>
        
        <div class="evaluaciones"> <h2> Evalúa a nuestras mascotas </h2> </div>
        <div class="container">
            <table class = "tabla-avisos">
                <tr>
                    <td class="main">ID</td>
                    <td class="main">Fecha Publicación</td>
                    <td class="main">Sector</td>
                    <td class="main">Cantidad; Edad; Tipo</td>
                    <td class="main">Comuna</td>
                    <td class="main">Nota</td>
                    <td class="main"> </td>
                </tr>
            </table>
        </div>

        <br>
        <br>
        <br>

        <script th:src="@{/js/evaluaciones.js}"></script>
    </body>
</html>