<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Listado de adopciones </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/adopciones.css') }}">
    </head>
    <body>
        <div class="listado">
            <h1> Listado de Adopciones </h1>
            <h2> ¡Clickea una fila para ver más detalles!</h2>
        </div>
        <div class="container">
            <table class="tabla-avisos">
                <tr>
                    <td class="main">Fecha de Publicación</td>
                    <td class="main">Fecha de Entrega</td>
                    <td class="main">Comuna</td>
                    <td class="main">Sector</td>
                    <td class="main">Cantidad; Edad; Tipo</td>
                    <td class="main">Nombre; Contacto</td>
                    <td class="main">Total Fotos</td>
                </tr>

                {% for dato in datos %}
                    <tr class="fila-clickeable" id="fila-{{ dato.aviso.id }}">
                        <td>{{ dato.aviso.fecha_ingreso }}</td>
                        <td>{{ dato.aviso.fecha_entrega }}</td>
                        <td>{{ dato.comuna.nombre }}</td>
                        <td>{{ dato.aviso.sector }}</td>
                        <td>{{ dato.aviso.cantidad }} {{ dato.aviso.tipo }} <br> {{ dato.aviso.edad }} {% if dato.aviso.unidad_medida == 'a' %}años{% else %}meses{% endif %} </td>
                        {% if dato.contactos %}
                            {% for contacto in dato.contactos %}
                                {% if loop.index <= 1 %}
                                    <td>{{ dato.aviso.nombre }}<br>{% if contacto.nombre == 'whatsapp' %}Whatsapp: {{ contacto.identificador }}
                                        {% else %}
                                            {% if contacto.nombre == 'telegram' %}Telegram: {{ contacto.identificador }}
                                            {% else %}
                                                {% if contacto.nombre == 'tiktok' %}TikTok: {{ contacto.identificador }}
                                                {% else %}
                                                    {% if contacto.nombre == 'X' %}X: {{ contacto.identificador }}
                                                    {% else %}
                                                        {% if contacto.nombre == 'instagram' %}Instagram: {{ contacto.identificador }}
                                                        {% else %}
                                                            {% if contacto.nombre == 'otra' %}Otro: {{ contacto.identificador }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif%}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>{{ dato.aviso.nombre }}<br>Correo Electrónico: {{ dato.aviso.email }}</td>
                        {% endif %}
                        <td>{{ dato.num_fotos }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <br>

        <div class="pagination">
            <span class="page">
                <a href="{{ url_for('adopciones', page_num=1) }}" 
                {% if current_page == 1 %}class="disabled"{% endif %}>
                    « Primera
                </a>
            </span>
            
            <span class="page">
                {% if current_page > 1 %}
                    <a href="{{ url_for('adopciones', page_num=current_page-1) }}">‹ Anterior</a>
                {% endif %}
            </span>
            
            {% set start_page = [1, current_page - 3] | max %}
            {% set end_page = [total_pages, current_page + 3] | min %}
            
            {% if start_page > 1 %}
                <span class="puntitos">...</span>
            {% endif %}
            <span class="page">
                {% for page in range(start_page, end_page + 1) %}
                    {% if page == current_page %}
                        <span class="current-page">{{ page }}</span>
                    {% else %}
                        <a href="{{ url_for('adopciones', page_num=page) }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </span>
            
            {% if end_page < total_pages %}
                <span class="puntitos">...</span>
            {% endif %}
            
            <span class="page">
                {% if current_page < total_pages %}
                    <a href="{{ url_for('adopciones', page_num=current_page+1) }}">Siguiente ›</a>
                {% endif %}
            </span>
            
            <span class="page">
                <a href="{{ url_for('adopciones', page_num=total_pages) }}" 
                {% if current_page == total_pages %}class="disabled"{% endif %}>
                    Última »
                </a>
            </span>
        </div>

        <br>
        <br>
        <br>


        
        <div class="boton"> <button type="button" id="btn-portada">Ir a la portada</button> </div>

        <script>
            const PORTADA_URL = "{{ url_for('portada') }}";
        </script>

        <script src="{{ url_for('static', filename='js/adopciones.js') }}"></script>
    </body>
</html>