<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Agregar aviso de adopción </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/agregar-avisos.css') }}">
    </head>
    <body>




        <h1 class="titulo">Agregar aviso de adopción</h1>

        <div class="container" id="alert-envio" hidden>
            <br>
            <h3>Hemos recibido la información de adopción, muchas gracias y suerte!</h3>
        </div>

        <div class="container">
            {% if error != "" %}
                <div class="alert-error">
                    {{ error }}
                </div>
            {% endif %}

            <div class="error-forms" id="error-forms" hidden>
            </div>
            <form class="formulario" id="agregar-avisos" action="agregar-avisos" method="post" enctype="multipart/form-data">
                <h3 class="titulos-forms">¿Donde?</h3>
                <label for="region">Región:</label>
                <select id="region" name="region">
                    <option value="">-- Selecciona una región</option>
                    <option value="15">Arica y Parinacota</option>
                    <option value="1">Tarapacá</option>
                    <option value="2">Antofagasta</option>
                    <option value="3">Atacama</option>
                    <option value="4">Coquimbo</option>
                    <option value="5">Valparaíso</option>
                    <option value="13">Metropolitana</option>
                    <option value="6">O’Higgins</option>
                    <option value="7">Maule</option>
                    <option value="16">Ñuble</option>
                    <option value="8">Biobío</option>
                    <option value="9">La Araucanía</option>
                    <option value="14">Los Ríos</option>
                    <option value="10">Los Lagos</option>
                    <option value="11">Aysén</option>
                    <option value="12">Magallanes y Antártica Chilena</option>
                </select> 
                
                <br> <br>

                <label for="comuna">Comuna:</label>
                <select id="comuna" name="comuna">
                    <option value="">-- Selecciona una comuna --</option>
                </select>

                <br> <br>

                <label for="sector">Sector:</label>
                <input id="sector" name="sector" type="text">

                <br> <br>
 
                <h3 class="titulos-forms">¿Contacto de esta publicación?</h3>
                <label for="nombre">Nombre:</label>
                <input id="nombre" name="nombre" type="text">

                <br> <br>

                <label for="email">Email:</label>
                <input id="email" name="email" type="email">

                <br><br>

                <label for="nro-celular">Número de celular:</label>
                <input id="nro-celular" name="nro-celular" type="tel">

                <br><br>

                <label for="contacto">Método de Contacto:</label>
                <select id="contacto" name="contacto">
                    <option value="">-- Selecciona un método de contacto --</option>
                    <option value="whatsapp">WhatsApp</option>
                    <option value="telegram">Telegram</option>
                    <option value="X">X</option>
                    <option value="instagram">Instagram</option>
                    <option value="tiktok">TikTok</option>
                    <option value="otra">Otro</option>
                </select>


                <div id="metodo-cont" hidden>
                    <label for="metodo-contacto">URL o ID de contacto:</label>
                    <input id="metodo-contacto" name="metodo-contacto" type="text">
                    
                    <button type="button" id="btn-cont1">Agregar nuevo método de contacto e ID o URL</button>
                </div>

                <div id="cont2" hidden>
                    <br>
                    <label for="contacto">Método de Contacto:</label>
                    <select id="contacto2" name="contacto2">
                        <option value="">-- Selecciona un método de contacto --</option>
                        <option value="whatsapp">WhatsApp</option>
                        <option value="telegram">Telegram</option>
                        <option value="X">X</option>
                        <option value="instagram">Instagram</option>
                        <option value="tiktok">TikTok</option>
                        <option value="otra">Otro</option>
                    </select>

                    <br>

                    <div id="metodo-cont2">
                        <label for="metodo-contacto">URL o ID de contacto:</label>
                        <input id="metodo-contacto2" name="metodo-contacto2" type="text">
                        <button type="button" id="btn-cont2">Agregar nuevo método de contacto e ID o URL</button>            
                    </div>
                </div>

                <div id="cont3" hidden>
                    <br>
                    <label for="contacto">Método de Contacto:</label>
                    <select id="contacto3" name="contacto3">
                        <option value="">-- Selecciona un método de contacto --</option>
                        <option value="whatsapp">WhatsApp</option>
                        <option value="telegram">Telegram</option>
                        <option value="X">X</option>
                        <option value="instagram">Instagram</option>
                        <option value="tiktok">TikTok</option>
                        <option value="otra">Otro</option>
                    </select>

                    <br>

                    <div id="metodo-cont3">
                        <label for="metodo-contacto">URL o ID de contacto:</label>
                        <input id="metodo-contacto3" name="metodo-contacto3" type="text">
                        <button type="button" id="btn-cont3">Agregar nuevo método de contacto e ID o URL</button>            
                    </div>
                </div>

                <div id="cont4" hidden>
                    <br>
                    <label for="contacto">Método de Contacto:</label>
                    <select id="contacto4" name="contacto4">
                        <option value="">-- Selecciona un método de contacto --</option>
                        <option value="whatsapp">WhatsApp</option>
                        <option value="telegram">Telegram</option>
                        <option value="X">X</option>
                        <option value="instagram">Instagram</option>
                        <option value="tiktok">TikTok</option>
                        <option value="otra">Otro</option>
                    </select>

                    <br>

                    <div id="metodo-cont4">
                        <label for="metodo-contacto">URL o ID de contacto:</label>
                        <input id="metodo-contacto4" name="metodo-contacto4" type="text">
                        <button type="button" id="btn-cont4">Agregar nuevo método de contacto e ID o URL</button>            
                    </div>
                </div>


                <div id="cont5" hidden>
                    <br>
                    <label for="contacto">Método de Contacto:</label>
                    <select id="contacto5" name="contacto5">
                        <option value="">-- Selecciona un método de contacto --</option>
                        <option value="whatsapp">WhatsApp</option>
                        <option value="telegram">Telegram</option>
                        <option value="X">X</option>
                        <option value="instagram">Instagram</option>
                        <option value="tiktok">TikTok</option>
                        <option value="otra">Otro</option>
                    </select>

                    <br>

                    <div id="metodo-cont5">
                        <label for="metodo-contacto">URL o ID de contacto:</label>
                        <input id="metodo-contacto5" name="metodo-contacto5" type="text">            
                    </div>
                </div>

                <br><br>

                <h3>¿Qué mascota ofrece en adopción?</h3>
                <label for="tipo-mascota">Tipo de mascota:</label>
                <select id="tipo-mascota" name="tipo-mascota">
                    <option value="">-- Selecciona un tipo de mascota --</option>
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                </select>

                <br><br>

                <label for="cantidad">Cantidad de animales:</label>
                <input id="cantidad" name="cantidad" type="number">

                <br><br>

                <label for="edad-animal">Edad de animales:</label>
                <input id="edad-animal" name="edad-animal" type="number">

                <br><br>

                <label for="unidad-edad">Unidad de edad:</label>            
                <select id="unidad-edad" name="unidad-edad">
                    <option value="">-- Selecciona una unidad de edad --</option>
                    <option value="m">Meses</option>
                    <option value="a">Años</option>
                </select>

                <br><br>

                <label for="fecha-entrega">Fecha disponible para entrega:</label>
                <input id="fecha-entrega" name="fecha-entrega" type="datetime-local"> 

                <br><br>

                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" cols="50" rows="10"></textarea>  
                
                <br><br>

                <label for="fotos">Fotos (Suba todos los archivos al mismo tiempo):</label>
                <input id="fotos" name="fotos" type="file" multiple>

                <br><br>

                <button type="button" id="btn-enviar">Enviar</button>
            </form> 
            <br>
            
        {% if error != "" %}
            <script>
                error = "Error en el servidor <br>" + error
                document.documentElement.scrollTop = 0;
            </script>
        {% elif request.method == 'POST' %}
            <script>
                document.getElementById("alert-envio").hidden = false;
                document.documentElement.scrollTop = 0;
            </script>
        {% endif %}

        </div>
        <br>
        <div class="portada">
            <button type="button" id="btn-portada">Ir a la portada</button>
        </div>
                    
        <script>
            const PORTADA_URL = "{{ url_for('portada') }}";
        </script>

        <br><br>

        <div id="vent-emergente" class="vent">
            <div class="vent-content">
                <p>¿Está seguro que desea agregar este aviso de adopción?</p>
                <button class="btn-si" type="submit" id="btnSi" form="agregar-avisos">Sí, estoy seguro</button>
                <button class="btn-no" type="button" id="btnNo">No, no estoy seguro, quiero volver al formulario</button>
            </div>
        </div>





        <script src="{{ url_for('static', filename='js/agregar-avisos.js') }}"></script>
    </body>

</html>