<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Estadísticas </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estadisticas.css') }}">
    </head>
    <body>
        <div class="main">
            <h1>Estadísticas</h1>
            <h4 class="graficos"> ¡Bienvenida/o a la sección de estadísticas de nuestro portal! <br>
            A continuación, se mostrarán estadísticas relevantes sobre el funcionamiento de nuestra organización. </h4>

            <h3>
                Cantidad de avisos de adopción por día
            </h3>

            <img src="{{ url_for('static', filename='images/cantidad-diaria.png') }}" alt="graph-lines avisos por día">

            <hr>

            <h3>
                Total de avisos por tipo de mascota
            </h3>
        
            <img src="{{ url_for('static', filename='images/cantidad-tipo-mascota.png') }}" alt="graph-cake avisos por tipo mascota">
            
            <hr>

            <h3>
                Cantidad de avisos mensuales por tipo de mascota
            </h3>

            <img src="{{ url_for('static', filename='images/cantidad-mensual.png') }}" alt="graph-bar avisos mensuales por tipo mascota">



            <br>
            <br>

            <button type="button" id="btn-portada">Ir a la portada</button>

            <script>
                const PORTADA_URL = "{{ url_for('portada') }}";
            </script>

            <br>
            <br>
            <br>
            <br>

        </div>

        <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
    </body>
</html>