.listado{
    text-align: center;
}

.container {
  height: 50%;
  max-width: 50%;
  margin: auto;
  background-color: #afd1d7;
}

.tabla-avisos{
    margin: auto;
}

.main {
    font-weight: bold;
    text-align: center;
}

.boton{
    text-align: center;
}

table {
    border: #b2b2b2 1px solid;
    border-collapse: collapse;
    }
td {
    border: black 1px solid;
}

h2 {
    font-weight: normal;
}
