<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Estadísticas </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estadisticas.css') }}">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    </head>
    <body>
        <div class="main">
            <h1>Estadísticas</h1>
            <h4 class="graficos"> ¡Bienvenida/o a la sección de estadísticas de nuestro portal! <br>
            A continuación, se mostrarán estadísticas relevantes sobre el funcionamiento de nuestra organización. </h4>

            <h3>
                Cantidad de avisos de adopción por día
            </h3>

            <div id="grafico_linea" class = "grafico">

            </div>

            <hr>

            <h3>
                Total de avisos por tipo de mascota
            </h3>
        
            <div id="grafico_torta" class = "grafico"> </div>
            
            <hr>

            <h3>
                Cantidad de avisos mensuales por tipo de mascota
            </h3>

            <div id="grafico_barra" class = "grafico"></div>



            <br>
            <br>

            <button type="button" id="btn-portada">Ir a la portada</button>

            <script>
                const PORTADA_URL = "{{ url_for('portada') }}";
            </script>

            <br>
            <br>
            <br>
            <br>

        </div>
        <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
    </body>
</html>