<!DOCTYPE html>
<html lang="es">
    <head>
        <title> CC5002 - Tarea 1 </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portada.css') }}">
    </head>
    <body>
        <div class="titulos">
            <h1> ¡Hola! Bienvenida/o a nuestro portal de adopción de perritos y gatitos</h1>
            <h2 id="sub-titulo"> ¿Algo en específico que desees hacer?</h2>
        </div>
        <div class="navbar">
            <a class="navbar-page" href="{{ url_for('agregar_avisos') }}">Agregar aviso de adopción</a>
            <a class="navbar-page" href="{{ url_for('adopciones') }}">Ver listado de adopciones</a>
            <a class="navbar-page" href="{{ url_for('estadisticas') }}">Estadísticas</a>
        </div>
        
        <div class="ultimos-avisos"> <h2> Últimos avisos </h2> </div>
        <div class="container">
            <table class = "tabla-avisos">
                <tr>
                    <td class="main">Fecha de Publicación</td>
                    <td class="main">Comuna</td>
                    <td class="main">Sector</td>
                    <td class="main">Cantidad; Edad; Tipo</td>
                    <td class="main">Foto</td>
                </tr>

                {% for dato in datos %}
                    <tr>
                        <td>{{ dato.aviso.fecha_ingreso }}</td>
                        <td>{{ dato.comuna.nombre }}
                        <td>{{ dato.aviso.sector }}</td>
                        <td>{{ dato.aviso.cantidad }} {{ dato.aviso.tipo }} <br> {{ dato.aviso.edad }} {% if dato.aviso.unidad_medida == 'a' %}años{% else %}meses{% endif %} </td>
                        <td class="img">
                            <img src="{{ url_for('static', filename = 'uploads/' + dato.foto_principal.nombre_archivo) }}" alt="{{ dato.aviso.tipo }}" width="320" height="240">
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <br>

        <div class="pagination">
            <span class="page">
                <a href="{{ url_for('portada', page_num=1) }}" 
                {% if current_page == 1 %}class="disabled"{% endif %}>
                    « Primera
                </a>
            </span>
            
            <span class="page">
                {% if current_page > 1 %}
                    <a href="{{ url_for('portada', page_num=current_page-1) }}">‹ Anterior</a>
                {% endif %}
            </span>

            {% set start_page = [1, current_page - 3] | max %}
            {% set end_page = [total_pages, current_page + 3] | min %}
            
            {% if start_page > 1 %}
                <span class="puntitos">...</span>
            {% endif %}
            <span class="page">
                {% for page in range(start_page, end_page + 1) %}
                    {% if page == current_page %}
                        <span class="current-page">{{ page }}</span>
                    {% else %}
                        <a href="{{ url_for('portada', page_num=page) }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </span>
            
            {% if end_page < total_pages %}
                <span class="puntitos">...</span>
            {% endif %}
            
            <span class="page">
                {% if current_page < total_pages %}
                    <a href="{{ url_for('portada', page_num=current_page+1) }}">Siguiente ›</a>
                {% endif %}
            </span>
            
            <span class="page">
                <a href="{{ url_for('portada', page_num=total_pages) }}" 
                {% if current_page == total_pages %}class="disabled"{% endif %}>
                    Última »
                </a>
            </span>
        </div>

        <br>
        <br>
        <br>

        <script src="{{ url_for('static', filename='js/portada.js') }}"></script>
    </body>
</html>